@model IEnumerable<string>

@{
    ViewBag.Title = "Top secret page";
    Layout = "_Layout";
}

<h2>How to get good at cybersecurity?</h2>

<ul>
    @foreach (string item in Model)
    {
        <li>item</li>
    }
</ul>