@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li>
            <a class="btn btn-outline-secondary mx-3" href="@Url.Action("Index", "Secret")"> Top secret stuff</a>
        </li>
    </ul>
</div>